<!DOCTYPE html>
<html>

    <head>
        

        {%block head%}
            <title>Academy Menager</title>
        {%endblock%}

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Teachers</a>
                <a href="/Students" >Students</a>
            </div>
        </header>
        
    {% block content %}
    {% endblock content %}

    </body>
</html>



