{% extends "layout.njk" %}

{% block content %}
    <div class="cardCreate">

        <form method="POST" action="/teachers" class="details">
            <h3>Cadastrar Professor</h3>
            {% include "teachers/fields.njk" %}
            <button type="submit" class="button">Enviar</button>
            </form>
        </div>
    {% endblock content %}